<body>
       <input class="open-box" id="left-box" type="checkbox" hidden>
       <label class="btn-left" for="left-box"></label>
	<div id="left-column">
		<div id="leftLine1">
			<div class="title-side title-up">
				<span>Прожектор</span>
			</div>
			<div class="button_box">
					<button class="button toggle off" id="btn-light">	
			</div>
			
		</div>
		<div id="leftLine2">
			<div class="title-side title-middle">
				<span>IP-адрес</span>
			</div>

				<form method="POST">

					<input
							type="text"
							name="NewIP"
							class="form-control"
							id="ipAddress"
							ip-mask
							placeholder="000.000.000.000"
					/>
					<button class="button"  type="submit" value="" id="ip">
				</form>

		</div>

		<div id="leftLine3">
			<div class="button_box">
				<div class="button" id="download" title="Сделать и загрузить снимок" onclick="Make_screenshot()">
					<span
 id="btn-screen"></span>
				</div>

			</div>
			<div class="title-side title-down">
				<span>Скриншот</span>
			</div>
		</div>
	</div>


   <script>
	   function Make_screenshot(){
		   //alert("Сделать снимок экрана")
		   let myRequestNautilus = new XMLHttpRequest();
		   myRequestNautilus.open('GET', ':uuid/MakeScreenshotURL', true); //асинхронный запрос
		   myRequestNautilus.onreadystatechange = function() {
	   if (myRequestNautilus.readyState != 4) return;
	   if (myRequestNautilus.status != 200) {
	   // обработать ошибку
		   alert('Ошибка ' + myRequestNautilus.status + ': ' + myRequestNautilus.statusText);
	   return;
			   }
		   }
	   myRequestNautilus.send();

	   }
   </script>
   
   <script>
   	function OffSpotlight()
   	
   			   {
			   //alert("Отключить прожектор")
			   let myRequestNautilus = new XMLHttpRequest();
			   myRequestNautilus.open('GET', ':uuid/OffSpotlightURL', true); //асинхронный запрос
			   myRequestNautilus.onreadystatechange = function() {
				   if (myRequestNautilus.readyState != 4) return;
				   if (myRequestNautilus.status != 200) {
					   // обработать ошибку
					   alert('Ошибка ' + myRequestNautilus.status + ': ' + myRequestNautilus.statusText);
					   return;
				   }
			   }
			   myRequestNautilus.send();
//=============================================
		   }
   
   </script>
   
   <script>
      	function OnSpotlight()
   	
   			   {
			   //alert("Отключить прожектор")
			   let myRequestNautilus = new XMLHttpRequest();
			   myRequestNautilus.open('GET', ':uuid/OnSpotlightURL', true); //асинхронный запрос
			   myRequestNautilus.onreadystatechange = function() {
				   if (myRequestNautilus.readyState != 4) return;
				   if (myRequestNautilus.status != 200) {
					   // обработать ошибку
					   alert('Ошибка ' + myRequestNautilus.status + ': ' + myRequestNautilus.statusText);
					   return;
				   }
			   }
			   myRequestNautilus.send();
//=============================================
		   }
   
   </script>
   
   <script>
	async function zagruz(){
    		var link = document.createElement('a');
		link.setAttribute('href', '../../static/images/col.jpg');
     		await new Promise(r => setTimeout(r, 2500));
		link.setAttribute('download', 'col.jpg');
		link.click();
		return false;
	}
	$('#download').on('click', zagruz);
   </script>
   
   <script>
	$('.toggle').click(function(){
	elem = document.querySelector('#btn-light');
	$(elem).toggleClass('on');
	if($(elem).hasClass("on")) 
        	{
          	elem.classList.remove('off');
        	//alert("Включили кнопку ON. Вместо alert сажаем свой обработчик");
        	OnSpotlight();
     console.log(elem.getAttribute('class'));
//zagruz();
        	}
    	if(!$(elem).hasClass("on")) 
    		{
      		elem.setAttribute('class', 'button toggle off');
        	//alert("Выключили кнопку OFF");
        	OffSpotlight();
     console.log(elem.getAttribute('class'));
//zagruz();
      		}
	});
</script>


<script>
	$(document).ready(function(){
  	$('[ip-mask]').ipAddress();
	});
</script>


<script>
        function Complete()
        {
	$('form').on('submit', function(e){
    	e.preventDefault();
	});
	const arr = document.getElementById('ipAddress').value;
    	console.log(arr);
	}
</script>

</body>
